.wp-block-learn-with-naw-lwn-icons {
  // border: 1px dotted #f00;
}

.wp-block-learn-with-naw-lwn-icons__icons-list {
  .icon-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;

    & i {
      cursor: pointer;
      font-size: 28px;
      color: #667085;
    }

    & i.selected {
      color: green;
      opacity: 0.8;
      transform: scale(1.1);
    }
  }
}

.wp-block-learn-with-naw-lwn-icons__user-selection {
  display: flex;
  align-items: center;
  font-size: 20px;
  color: green;
  opacity: 0.8;

  & i {
    font-size: 50px;
  }
}

.wp-block-learn-with-naw-lwn-icons__search-icons {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.material-symbols-outlined {
  font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24;
}
